#container{
    position: center;
    width: 474px;
    height: 613px;
    margin-top: 150px;
}

#headert1{
    width: 474px;
    height: 49px;
    margin-bottom: 38px;
    
    font-style: "Open Sans";
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    
    /* black */
    
    color: #393E46;
}

#container2{
    width: 435px;
    height: auto;
    left: 19px;
    top: 87px;
}

#option{
    width: 410px;
    height: 50px;
    margin-bottom: 10px;
    
    /* green */
    
    border: 2px solid #38817A;
    box-sizing: border-box;
    border-radius: 10px;

    font-style: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    
    /* green */
    
    color: #38817A;
}

#option:focus{
    background-color: #38817A;
    color: #FFFFFF;
    box-shadow: none;
}

#option:hover{
    background-color: #38817A;
    color: #FFFFFF;
}

#button{
    width: 245px;
    height: 59px;
    margin-top: 45px;
    margin-left: 105px;
    padding-left: 10%;
    
    /* Gray 4 */
    
    background: #2BCDC1;
    box-shadow: none;
    border-radius: 34px;
    border-color: #BDBDBD;

    font-style: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    
    /* White */
    
    color: #FFFFFF;
}

#button:disabled{
    background: #BDBDBD;
}
