.sidebar {
    position: absolute;
    width: 280px;
    height: 100%;
    left: 0px;
    top: 0px;

    /* green */
    
    background: #38817A;
}

.sidebaritem{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: absolute;
    width: 256px;
    height: 264px;
    left: 12px;
    top: 45%;
}

#rectangle{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 15px;
    top: calc(50% - 16px/2 - 1.5px);
    margin-right: 100%;
    
    /* White */
    
    background: #38817A;
}

#rectangle:hover{
    background: #38817A;
}

.item1{
    position: static;
    width: 256px;
    height: 51px;
    left: 0px;
    top: 0px;
    padding-top: 5%;
    
    border-radius: 5px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 20px;

    font-style: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    /* White */
    
    color: #FFFFFF;
}

.item1:hover{
    background: #F2F2F2;
    
    /* green */
    
    color: #38817A;
}

.item1:active{
    background: #F2F2F2;
    
    /* green */
    
    color: #38817A;
}

.item2{
    position: static;
    width: 256px;
    height: 51px;
    left: 0px;
    top: 71px;
    padding-top: 5%;
    
    /* Gray 6 */

    border-radius: 5px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    align-self: center;
    margin: 0px 20px;

    font-style: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    /* White */
    
    color: #FFFFFF;
}

.item2:hover{
    background: #F2F2F2;
    
    /* green */
    
    color: #38817A;
}

.item3{
    position: static;
    width: 256px;
    height: 51px;
    left: 0px;
    top: 142px;
    padding-top: 5%;
    
    border-radius: 5px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    align-self: center;
    margin: 0px 20px;

    font-style: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    /* White */
    
    color: #FFFFFF;
}

.item3:hover{
    background: #F2F2F2;
    border-radius: 5px;
    
    /* green */
    
    color: #38817A;
}

.item4{
    position: static;
    width: 256px;
    height: 51px;
    left: 0px;
    top: 213px;
    padding-top: 5%;
    
    border-radius: 5px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 3;
    align-self: center;
    margin: 0px 20px;

    font-style: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    /* White */
    
    color: #FFFFFF;
}

.item4:hover{
    background: #F2F2F2;

    /* green */
    
    color: #38817A;
}