.containers{
    position: absolute;
    width: 78%;
    height: 65%;
    left: 350px;
    top: 236px;
    
    /* White */
    
    background: #FFFFFF;
    /* Card Shadow 2 */
    
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: -1;
}

h1{
    position: absolute;
    width: 139px;
    height: 25px;
    left: 23px;
    top: 30px;
    
    font-style: "Open Sans";
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    /* magenta */
    
    color: #F66095;
}

.table{
    flex-direction: column;
    padding: 0px;

    position: absolute;

    left: 0px;
    top: 75px;

    font-style: "Open Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.03em;
    
    /* black */
    
    color: #393E46;
}

.head{
    font-style: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.03em;
    
    /* black */
    
    color: #393E46;
}

.buttons1{
    width: 25px;
    height: 25px;
    padding: 0px;
    /* cyan */
    
    background: #2BCDC1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    
}

.buttons2{
    width: 25px;
    height: 25px;
    padding: 0px;
    /* cyan */
    
/* Yellow */

    background: #FFC43D;
    /* Card Shadow 2 */

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
